body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.todo-2, .todo-final {
    margin-top: 50px;
}
.todo-input {
    font-size: 15px;
    padding: 8px 10px; 
}
.todo-due-date {
    font-size: 15px;
    padding: 8px;
    margin-left: 5px;
}
.add-btn {
    font-size: 15px;
    padding: 10px 35px;
    margin-left: 5px;
    border: none;
    color: #fff;
    background-color: #008000;
    cursor: pointer;
}
.todo-text {
    margin-right: 150px;
}
.dlt-btn {
    font-size: 15px;
    padding: 10px 27px;
    border: none;
    color: #fff;
    background-color: #8b0000;
    margin-left: 65px;
    cursor: pointer;
}

