body {
    background-color: #191919;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
  }
  .title {
    font-size: 2rem;
    font-weight: 600;
  }
  .move-icon {
    height: 80px;
  }
  .move-btn {
    background-color: transparent;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .move-btn:hover {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      90deg,
      rgba(63, 94, 251, 0.5) 0%,
      rgba(255, 81, 116, 0.5) 100%
    );
  }
  .result {
    font-size: 2rem;
    font-weight: 600;
  }
  .score {
    margin-top: 60px;
  }
  .reset-btn {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border: none;
    font-size: 16px;
    padding: 8px 15px;
    cursor: pointer;
  }
  .reset-btn:hover {
    background-image: linear-gradient(to left, #4facfe 0%, #00f2fe 100%);
  }
  .autoplay-btn {
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    margin-left: 20px;
    border: none;
    font-size: 16px;
    padding: 8px 15px;
    cursor: pointer;
  }
  .autoplay-btn:hover {
    background-image: linear-gradient(to bottom, #c471f5 0%, #fa71cd 100%);
  }
  .reset-para {
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(0, 231, 0);
    display: none;
  }
  .reset-conf-prompt {
    margin-top: 30px;
    border: 2px solid white;
    width: fit-content;
    padding: 10px 20px;
    background: #f9b926;
    color: #000000;
    display: none;
  }
  .reset-yes-btn, .reset-no-btn {
    padding: 10px 15px;
    cursor: pointer;
  }
  .reset-yes-btn {
    margin-left: 10px;
    background-color: #00a600;
  }
  .reset-no-btn {
    margin-left: 10px;
    background-color: #d70000;
  }
  